[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
requests = "*"
pandas = "*"
mypy = "*"
flake8 = "*"
yapf = "*"
docker-compose = "*"
pyhive = {extras = ["hive"], version = "*"}
fire = "*"
rich = "*"
awscli = "*"
pyarrow = "*"
boto3 = "*"
sqlalchemy = "*"
s3fs = "*"
psycopg2 = "*"
pylint = "*"
ninja = "*"
faker = "*"
more-itertools = "*"
clickhouse-sqlalchemy = "*"
pyyaml = "*"
duckdb = "*"
click = "*"
vulture = "*"
typer = "*"
typer-cli = "*"
awswrangler = "*"
docker = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
