[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
requests = "*"
pandas = "*"
mypy = "*"
flake8 = "*"
yapf = "*"
fastapi = "*"
docker-compose = "*"
pyhive = {extras = ["hive"], version = "*"}
fire = "*"
rich = "*"
awscli = "*"
pyarrow = "*"
boto3 = "*"
dbt-core = "*"
dbt-presto = "*"
dbt-postgres = "*"
python-language-server = "*"
pytype = "*"
sqlalchemy = "*"
s3fs = "*"
psycopg2 = "*"
ibis-framework = {extras = ["postgres"], version = "*"}
pylint = "*"
ninja = "*"
faker = "*"
modin = {extras = ["ray"], version = "*"}
dask = "*"
ray = "*"
more-itertools = "*"
clickhouse-sqlalchemy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
